{%  load static  %}
<!DOCTYPE html>
<html>
    <head>
        <title>Diwali</title>
    </head>
    <body>
        <h1>Diwali_gifts</h1>
        
        <table>
            <tableborder = "1">
             
             <tr>
                  <td>{{pp.qty}}</td>
                  <td>{{pp.color}}</td>
                  <td>{{pp.imgname}}</td>
                  <td>{{pp.reviews}}</td>
                  <td>{{pp.imgpath}}</td>
                  <td>{{pp.cost}}</td>
            </tr>
       <table>
    {% load static %}
                 <img src = "{%  static  "appsd/i.jpg"  %}"/>
       
</body>
</html>
