<% load static %>
<!DOCTYPE html>
<html>
<head>
  <title style="color:#ffecff" >Ramzan Gifts</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body background-color = "#ffff00";>
    <h1 style="color:#ff66cc; align :center;"> Ramzan Gifts<h1>
    <p style=" font-size: 0.5em; font-weight = normal;font-style: italic;">Celebrate  Ramzan with your friends, family members and more.Find the perfect gift for them.</p>
    <img src = "{%  static  "appsd/i.jpg"  %}"/>
    <img src= "{%  static  "appsd/o_ramzan1.jpg"   %}" hspace=10"  border = "1" align = "left" width = "300" height = "300"/>
    <img src= "{%  static  "appsd/o_ramzan2.jpg"   %}" hspace=10"  border = "1" align = "left" width = "300" height = "300"/> 
    <img src= "{%  static  "appsd/o_ramzan3.jpg"   %}" hspace=10"  border = "1" align = "left" width = "300" height = "300"/>
    <img src= "{%  static  "appsd/o_ramzan4.jpg"   %}" hspace=10"  border = "1" align = "left" width = "300" height = "300"/>
</body>
</html>
